#cpt_lvm_people_dados_pessoais .inside, 
#cpt_lvm_people_contatos .inside {
	margin: 0;
	padding: 0;
}

#cpt_lvm_people_dados_pessoais small{
	color: #777;
}

.lvm_separador{
	border-bottom: 1px solid #DFDFDF;
	border-top: 1px solid white;
	padding: 6px 10px 8px;
}

.lvm_separador_last{
	border-top: 1px solid white;
	padding: 6px 10px 8px;
}

.all-long{
	width: 98%;
}
.mezzo{
    width:50%;
}

.lvm_contatos{
	margin-right: 15px;
}

.lvm_contatos.label {
	width: 15%;
	text-align: right;
	color: #5C5C5C;
	display: inline-block;
}