input {
	vertical-align: middle;
}
input[type="radio"], input[type="checkbox"]{
	*margin-top: -4px;
	*margin-bottom: 0;
}
select{
	*position: relative;
	*top: 10px;
}

#titlediv{
	display: none;
}

#cpt_lvm_people_dados_pessoais .inside,#cpt_lvm_people_contatos .inside {
	margin: 0;
	padding: 0;
}

#cpt_lvm_people_dados_pessoais .inside *,#cpt_lvm_people_contatos .inside * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#cpt_lvm_people_dados_pessoais small {
	color: #777;
}

.lvm_separador {
	border-bottom: 1px solid #DFDFDF;
	border-top: 1px solid white;
	padding: 6px 10px 8px;
}

.lvm_separador.sep_last {
	border-top: 1px solid white;
	padding: 6px 10px 8px;
}

.label {
	display: inline-block;
	text-align: right;
	color: #5C5C5C;
	text-shadow: 0 1px 2px white;
}

.radio {
	display: inline-block;
	color: #5C5C5C;
	text-shadow: 0 1px 2px white;
	vertical-align: middle;
}

.mini {
	margin-right: 6px;
	width: 13%;
}

.small {
	margin-right: 6px;
	width: 27%;
}

.medium {
	margin-right: 6px;
	width: 41%;
}

.large {
	margin-right: 6px;
	width: 55%;
}

.xlarge {
	margin-right: 6px;
	width: 69%;
}

.xxlarge {
	margin-right: 6px;
	width: 83%;
}

.giant {
	margin-right: 6px;
	width: 98.5%;
}

.shift-mini {
	padding: 0 10px;
	margin-left: 13%;
}

.shift-small {
	padding: 0 10px;
	margin-left: 27%;
}

.shift-medium {
	padding: 0 10px;
	margin-left: 41%;
}

.shift-large {
	padding: 0 10px;
	margin-left: 56%;
}

.shift-xlarge {
	padding: 0 10px;
	margin-left: 70%;
}

.shift-xxlarge {
	padding: 0 10px;
	margin-left: 84%;
}



.add {
	font-size: .93em;
}

.line{
	padding: 6px 0;
}

.dropdown {
	position: relative;
	display: inline-block;
	*display: inline; /*ie7*/
	vertical-align: middle;
}
.dropdown .lvm_options{
	position: absolute;
	display: inline-block;
	*display: block; /*ie7*/
	top: 0;
	left: 90%;
	padding: 5px 0;
	height: 1em;
	width: 1em;
	overflow: hidden;
	cursor: pointer;
	background-color: transparent;
}
.dropdown .lvm_options{
	-webkit-transition-property: height, background-color, width;
	-moz-transition-property: height, background-color, width;
	-o-transition-property: height, background-color, width;
	-ms-transition-property: height, background-color, width;
	transition-property: height, background-color, width;
	-webkit-transition-duration: .5s, .8s, .4s;
	-moz-transition-duration: .5s, .8s, .4s;
	-o-transition-duration: .5s, .8s, .4s;
	-ms-transition-duration: .5s, .8s, .4s;
	transition-duration: .5s, .8s, .4s;
	-webkit-transition-timing-function: ease-in, ease-in, ease-in-out;
	-moz-transition-timing-function: ease-in, ease-in, ease-in-out;
	-o-transition-timing-function: ease-in, ease-in, ease-in-out;
	-ms-transition-timing-function: ease-in, ease-in, ease-in-out;
	transition-timing-function: ease-in, ease-in, ease-in-out;  
}

.dropdown:hover .lvm_options {
	width: 120px;
	background-color: white;
	border-top: 1px solid #EEE;
	border-left: 2px solid #EEE;
	border-bottom: 2px solid #EEE;
	border-right: 2px solid #EEE;
	z-index: 10;
}
.tel .dropdown:hover .lvm_options {
	height: 205px;	
}
.email .dropdown:hover .lvm_options,
.end .dropdown:hover .lvm_options {
	height: 100px;	
}
.dropdown:hover .lvm_options{
	-webkit-transition-property: height, background-color, width;
	-moz-transition-property: height, background-color, width;
	-o-transition-property: height, background-color, width;
	-ms-transition-property: height, background-color, width;
	transition-property: height, background-color, width;
	-webkit-transition-duration: .5s, .3s, .4s;
	-moz-transition-duration: .5s, .3s, .4s;
	-o-transition-duration: .5s, .3s, .4s;
	-ms-transition-duration: .5s, .3s, .4s;
	transition-duration: .5s, .3s, .4s;
	-webkit-transition-timing-function: ease-in-out, ease-out, ease-in-out;
	-moz-transition-timing-function: ease-in-out, ease-out, ease-in-out;
	-o-transition-timing-function: ease-in-out, ease-out, ease-in-out;
	-ms-transition-timing-function: ease-in-out, ease-out, ease-in-out;
	transition-timing-function: ease-in-out, ease-out, ease-in-out;  
}

.termo {
	padding-right: 1em;
}

.lvm_options:focus,.dropdown:focus {
	outline: none;
}

.lvm_options span {
	display: block;
	padding: 5px 15px;
	width: 120px;
	text-align: left;
	left: 0;
	z-index: 1;
}
.lvm_options span:hover {
	background-color: #D5D5D5;
}

span.arrow-down {
	display: block;
	padding-left: 4px;
	width: 0;
	line-height: 1em;
	background:transparent url(../../../../wp-admin/images/arrows.png) no-repeat left -5px;
	z-index: 1;
}
span.arrow-down:hover{
	padding-left: 5px;
	background-color: transparent;
	width: 1em;
}

span.lixeira{
	background:transparent url(i/trash.png) no-repeat center top;
	border: 0;
  	font: 0/0 a;
  	text-shadow: none;
  	color: transparent;
  	position: relative;
  	top:-12px;
  	left:20px;
  	display: inline-block;
  	*display: inline; /*ie7*/
}
span.lixeira:hover{
	background:transparent url(i/trash.png) no-repeat center -19px;
}

.textarea{
	vertical-align: top;
	-webkit-transition: height 0.4s;
	-moz-transition: height 0.4s;
	-o-transition: height 0.4s;
	-ms-transition: height 0.4s;
	transition: height 0.4s;
}