<!-- 
$fields            = [];
$fields["tipo"]    = "lvm_people_tipo_" . $contato . "_" . $i;
$fields["contato"] = "lvm_people_" . $contato . "_" . $i;
$fields["visivel"] = "lvm_people_boolean_" . $contato . "_" . $i;
-->

<script id="email-tmp" type="contatos/templates">
    <div class="email_{{n}} line">
        <div class="label mini dropdown">
            <span contenteditable="true" class="termo" id="lvm_people_tipo_email_{{n}}">Email</span>
            <div class="lvm_options">
                <span class="contatos arrow-down"></span>
                <span>Residencial</span>
                <span>Comercial</span>
                <span>Personalizar</span>
            </div>
        </div>
        <input type="hidden" name="lvm_people_tipo_email_{{n}}" value="Email">
        <input type="text" class="large" name="lvm_people_email_{{n}}" placeholder="example@ufrj.br">
        <span class="mini">
            <input type="checkbox" name="lvm_people_boolean_email{{n}}" value="true"> Público
        </span>
        <span class="mini">
            <span class="lixeira">Apagar</span>
        </span>
    </div>
</script>

<script id="tel-tmp" type="contatos/templates">
    <div class="tel_{{n}} line">
        <div class="label mini dropdown">
            <span contenteditable="true" class="termo" id="lvm_people_tipo_tel_{{n}}">Telefone</span>
            <div class="lvm_options">
                <span class="contatos arrow-down"></span>
                <span>Celular</span>
                <span>Comercial</span>
                <span>Residencial</span>
                <span>Pricipal</span>
                <span>Fax</span>
                <span>Skype</span>
                <span>Personalizar</span>
            </div>
        </div>
        <input type="hidden" name="lvm_people_tipo_tel_{{n}}" value="Telefone">
        <input type="text" class="large" name="lvm_people_tel_{{n}}" placeholder="+55 21 9876 5432">
        <span class="mini">
            <input type="checkbox" name="lvm_people_boolean_tel{{n}}" value="true"> Público
        </span>
        <span class="mini">
            <span class="lixeira">Apagar</span>
        </span>
    </div>
</script>

<script id="end-tmp" type="contatos/templates">
    <div class="end_{{n}} line">
        <div class="label mini dropdown">
            <span contenteditable="true" class="termo" id="lvm_people_tipo_end_{{n}}">Endereço</span>
            <div class="lvm_options">
                <span class="contatos arrow-down"></span>
                <span>Residencial</span>
                <span>Comercial</span>
                <span>Personalizar</span>
            </div>
        </div>
        <input type="hidden" name="lvm_people_tipo_end_{{n}}" value="Endereço">
        <textarea class="textarea large" name="lvm_people_end_{{n}}" placeholder="Av. Pedro Calmon, n° 550, Prédio da Reitoria, 2° andar, Cidade Universitária, Rio de Janeiro, RJ"></textarea>
        <span class="mini">
            <input type="checkbox" name="lvm_people_boolean_end{{n}}" value="true"> Público
        </span>
        <span class="mini">
            <span class="lixeira">Apagar</span>
        </span>
    </div>
</script>